<div class='main page'>
    <header-top></header-top>
    <div id='wrapper'>
        <!-- Sidebar -->
        <section id='sidebar'>
            <menu-left></menu-left>
        </section>

        <!-- Tools -->
        <section id='tools'>
            <ul class='breadcrumb' id='breadcrumb'>
                <li class='title'>Policies</li>
                <li class='title'>Data Protection </li>
                <li class='title'>New Policy</li>
            </ul>

            <div id='toolbar'>
            </div>
        </section>
        <!-- Content -->
        <div id='content'>
            <div class='panel panel-default grid'>
                <div class='panel-heading' style="height: 46px">
                    <div class="col-xs-11">
                        <i class='icon-table icon-large'></i>
                       New Policy
                    </div>
                    <div class="col-xs-1">
                        <button class="btn fix-top btn-success" (click)="newPolicy" style="color:white;margin-top:-4px;" [ngClass]="{'disabled':logUser === 'annie' }">Save</button>
                    </div>
                </div>
                <div class='panel-body'>
                    <form>
                        <fieldset>
                            <div class='form-group'>
                                <label class='control-label'>Policy Type:</label>
                                <select class='form-control'>
                                    <option>Backup</option>
                                </select>
                            </div>
                            <div class='form-group'>
                                <label class='control-label'>Policy Name: </label>
                                <input class='form-control'>
                            </div>
                            <div class='form-group'>
                                <label class='control-label'>Policy Description: </label>
                                <textarea class='form-control' style="height:50px"></textarea>
                            </div>
                            <div class='form-group'>
                                <label class='control-label'>Backup Target:</label>
                                <select class='form-control'>
                                    <option>Storage Pool ACME-1 (Tier-1)</option>
                                    <option>Storage Pool ACME-2 (Tier-1)</option>
                                    <option>NFS Common Store (Tier-2)</option>
                                    <option>Object Store – Bucket A1</option>
                                </select>
                            </div>
                            <div class='form-group'>
                                <label class='control-label'>Schedule Options:</label>
                                <select class='form-control'>
                                    <option>Daily</option>
                                    <option>Weekly</option>
                                    <option>Bi-Weekly</option>
                                    <option>Monthly</option>
                                </select>
                            </div>
                            <div class='form-group'>
                                <label class='control-label'>Weekdays options </label>
                                <select class='form-control' multiple>
                                    <option>Monday</option>
                                    <option>Tuesday</option>
                                    <option>Wednesday</option>
                                    <option>Thursday</option>
                                    <option>Friday</option>
                                    <option>Saturday</option>
                                    <option>Sunday</option>
                                </select>
                            </div>
                            <div class='form-group'>
                                <label class='control-label'>Time:</label>
                                <select class='form-control'>
                                    <option>00:00</option>
                                    <option>01:00</option>
                                    <option>02:00</option>
                                    <option>03:00</option>
                                    <option>04:00</option>
                                    <option>05:00</option>
                                    <option>06:00</option>
                                    <option>07:00</option>
                                    <option>08:00</option>
                                    <option>09:00</option>
                                    <option>10:00</option>
                                    <option>11:00</option>
                                    <option>12:00</option>
                                    <option>13:00</option>
                                    <option>14:00</option>
                                    <option>15:00</option>
                                    <option>16:00</option>
                                    <option>17:00</option>
                                    <option>18:00</option>
                                    <option>19:00</option>
                                    <option>20:00</option>
                                    <option>21:00</option>
                                    <option>22:00</option>
                                    <option>23:00</option>
                                </select>
                            </div>
                            <div>
                                <label class='control-label'>Cloud Retention:</label>
                                <select class='form-control'>
                                    <option>1 Month</option>
                                    <option>3 Month</option>
                                    <option>6 Month</option>
                                </select>
                            </div>
                            <div>
                                <label class='control-label'>Cloud Archive:</label>
                                <select class='form-control'>
                                    <option>No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                            <div>
                                <label class='control-label'>Archive Retention:</label>
                                <select class='form-control'>
                                    <option>3 Months</option>
                                    <option>6 Months</option>
                                    <option>1 Year</option>
                                    <option>Unlimited</option>
                                </select>
                            </div>
                            <div>
                                <label class='control-label'>Encryption:</label>
                                <select class='form-control'>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <div>
                                <label class='control-label'>Allow Ad-Hoc Backup:</label>
                                <select class='form-control'>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <div class='form-group'>
                                <label class='control-label'>Max Backup Size (GB): </label>
                                <input class='form-control'>
                            </div>
                            <div class='form-group'>
                                <label class='control-label'>Max Accumulated Size (GB):</label>
                                <input class='form-control'>
                            </div>
                            <div>
                                <label class='control-label'>Allowed Application Groups:</label>
                                <select class='form-control'>
                                    <option>CRM_prod</option>
                                    <option>CRM_test</option>
                                    <option>IT_general</option>
                                    <option>All</option>
                                </select>
                            </div>
                        </fieldset>
                        <div class='form-actions'>
                            <button class='btn btn-default' type='submit'>Submit</button>
                            <a class='btn' href='#'>Cancel</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>