<div class='main page'>
    <header-top></header-top>
    <div id='wrapper'>
        <!-- Sidebar -->
        <section id='sidebar'>
            <menu-left></menu-left>
        </section>

        <!-- Tools -->
        <section id='tools'>
            <ul class='breadcrumb' id='breadcrumb'>
                <li class='title'>Page Under Construction </li>
            </ul>

            <div id='toolbar'>
            </div>
        </section>
        <!-- Content -->
        <div id='content'>
            <div class="col-xs-12 center-block">
                <img src="../../assets/images/Looney-Tunes-Golden-Collection-icon.png" class="img-responsive center-block">
            </div>
            <div class="col-xs-12">
                <div><img src="../../assets/images/page_underconstruction.gif" class="img-responsive center-block" style="width:40%;height:auto"></div>
            </div>
        </div>
    </div>
</div>