<div class='main page'>
  <div class='navbar navbar-default' id='navbar'>
    <a class='navbar-brand' href='#'>
      <i class='icon-cloud'></i>
      Backup's
    </a>
    <ul class='nav navbar-nav pull-right'>
      <li class='dropdown'>
        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
          <i class='icon-envelope'></i>
          Messages
          <span class='badge'>5</span>
          <b class='caret'></b>
        </a>
        <ul class='dropdown-menu'>
          <li>
            <a href='#'>New message</a>
          </li>
          <li>
            <a href='#'>Inbox</a>
          </li>
          <li>
            <a href='#'>Out box</a>
          </li>
          <li>
            <a href='#'>Trash</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='#'>
          <i class='icon-cog'></i>
          Settings
        </a>
      </li>
      <li class='dropdown user'>
        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
          <i class='icon-user'></i>
          <strong>John DOE</strong>
          <img class="img-rounded" src="http://placehold.it/20x20/ccc/777" />
          <b class='caret'></b>
        </a>
        <ul class='dropdown-menu'>
          <li>
            <a href='#'>Edit Profile</a>
          </li>
          <li class='divider'></li>
          <li>
            <a href="/">Sign out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div id='wrapper'>
    <!-- Sidebar -->
    <section id='sidebar'>
      <i class='icon-align-justify icon-large' id='toggle'></i>
      <ul id='dock'>
        <li class='active launcher'>
          <i class='icon-cloud'></i>
          <a href="tables.html">Backup's</a>
        </li>
      </ul>
      <div data-toggle='tooltip' id='beaker' title='Made by lab2023'></div>
    </section>
    <!-- Tools -->
    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li class='title'>Backup</li>
      </ul>
      <div id='toolbar'>
      </div>
    </section>
    <!-- Content -->
    <div id='content'>
      <div class='panel panel-default grid' *ngFor='#data of VCenter'>
        <div class='panel-heading'>
          <i class='icon-list icon-large'></i>
          {{data.nameVCenter}}
        </div>
        <div class='panel-body filters'>
          <div class='row'>
            <div class='col-md-9'>

            </div>
            <div class='col-md-3'>
              <div class='input-group'>
                <input class='form-control' placeholder='Quick search...' type='text'  [(ngModel)]="searchQuick">
                  <span class='input-group-btn'>
                    <button class='btn' type='button'>
                      <i class='icon-search'></i>
                    </button>
                  </span>
              </div>
            </div>
          </div>
        </div>

        <table class='table'>
          <thead>
          <tr>
            <th style="width:2%">#</th>
            <th style="width:13%">Name</th>
            <th style="width:42%">Local Backup</th>
            <th>Cloud Backup</th>
          </tr>
          </thead>
          <tbody>
          <tr class='success1' *ngFor='let vm of data.VM | filter:searchQuick;#i = index '>
            <td>{{i+1}}</td>
            <td><i class="fa fa-fw" [ngClass]="{'fa-linux': vm.sys === 'lin','fa-windows': vm.sys === 'win' }" ></i>&nbsp;{{vm.name}}</td>
            <td>

              <div *ngIf="vm.LocalBackup.restorePercent != '' " class="progress progress-xs progress-striped active percent-top">
                <div class="progress-bar progress-bar-start" [ngClass]="{'progress-bar-start': vm.LocalBackup.restorePercent < '30','progress-bar-middle': vm.LocalBackup.restorePercent <= '60' && vm.LocalBackup.restorePercent > '30' ,'progress-bar-success': vm.LocalBackup.restorePercent >'60'}" [style.width]="vm.LocalBackup.restorePercent + '%'"></div>
              </div>
              <div *ngIf="vm.LocalBackup.restorePercent != '' " class="badge bg-green percent" [ngClass]="{'progress-bar-start': vm.LocalBackup.restorePercent < '30','progress-bar-middle': vm.LocalBackup.restorePercent <= '60' && vm.LocalBackup.restorePercent > '30' ,'progress-bar-success': vm.LocalBackup.restorePercent >'60'}">{{vm.LocalBackup.restorePercent}}%</div>
              <!--<div *ngIf="vm.LocalBackup.restorePercent != '' " class="badge bg-green percent" [ngClass]="{'progress-bar-start': vm.LocalBackup.restorePercent < '30','progress-bar-middle': vm.LocalBackup.restorePercent <= '60' && vm.LocalBackup.restorePercent > '30' ,'progress-bar-success': vm.LocalBackup.restorePercent >'60'}"> <input id="updatePercent{{i}}" type="text" [(ngModel)]="updatePercent" />% </div>-->

              <div class='action clearall'>
                <div *ngIf="vm.LocalBackup.enable === 'true'" class='btn btn-success' data-toggle='tooltip' (click)="modal.open()" title='Enable'>
                  <i class='icon-check'></i>&nbsp;Enable
                </div>
                <div  *ngIf="vm.LocalBackup.restore === 'true'" class='btn btn-info'data-toggle='tooltip' (click)="modal.open()" title='Restore'>
                  <i class='icon-refresh'></i>&nbsp;Restore
                </div>
                <div  *ngIf="vm.LocalBackup.disable === 'true'" class='btn btn-danger' data-toggle='tooltip'(click)="modal.open()" title='Disable'>
                  <i class='icon-remove'></i>&nbsp;Disable
                </div>
              </div>
            </td>
            <td>
              <div *ngIf="vm.CloudBackup.rehydratePercent != '' " class="progress progress-xs progress-striped active percent-top">
                <div class="progress-bar progress-bar-start" [ngClass]="{'progress-bar-start': vm.CloudBackup.rehydratePercent < '30','progress-bar-middle': vm.CloudBackup.rehydratePercent <= '60' && vm.CloudBackup.rehydratePercent > '30' ,'progress-bar-success': vm.CloudBackup.rehydratePercent >'60'}" [style.width]="vm.CloudBackup.rehydratePercent + '%'"></div>
              </div>
              <div *ngIf="vm.CloudBackup.rehydratePercent != '' " class="badge bg-green percent" [ngClass]="{'progress-bar-start': vm.CloudBackup.rehydratePercent < '30','progress-bar-middle': vm.CloudBackup.rehydratePercent <= '60' && vm.CloudBackup.rehydratePercent > '30' ,'progress-bar-success': vm.CloudBackup.rehydratePercent >'60'}">{{vm.CloudBackup.rehydratePercent}}%</div>


              <div class='action clearall'>
                <div *ngIf="vm.CloudBackup.enable === 'true'" class='btn btn-success' data-toggle='tooltip' href='#' title='Enable'>
                  <i class='icon-check'></i>&nbsp;Enable
                </div>
                <div *ngIf="vm.CloudBackup.rehydrate === 'true'" class='btn btn-info'data-toggle='tooltip' href='#' title='Restore'>
                  <i class='icon-refresh'></i>&nbsp;Rehydrate
                </div>
                <div *ngIf="vm.CloudBackup.disable === 'true'" class='btn btn-danger' data-toggle='tooltip' href='#' title='Disable'>
                  <i class='icon-remove'></i>&nbsp;Disable
                </div>
              </div>
            </td>
          </tr>
          <!--<tr class='success1'>-->
            <!--<td>2</td>-->
            <!--<td><i class="fa fa-fw fa-windows"></i>&nbsp;VM-2</td>-->
            <!--<td>-->
              <!--<div class="progress progress-xs progress-striped active percent-top">-->
                <!--<div class="progress-bar progress-bar-start" style="width: 20%"></div>-->
              <!--</div>-->
              <!--<div class="badge bg-green percent progress-bar-start" >20%</div>-->
              <!--<div class='action clearall'>-->
                <!--<a class='btn btn-success' data-toggle='tooltip' href='#' title='Enable'>-->
                  <!--<i class='icon-check'></i>&nbsp;Enable-->
                <!--</a>-->
                <!--<a class='btn btn-info'data-toggle='tooltip' href='#' title='Restore'>-->
                  <!--<i class='icon-refresh'></i>&nbsp;Restore-->
                <!--</a>-->
                <!--<a class='btn btn-danger' data-toggle='tooltip' href='#' title='Disable'>-->
                  <!--<i class='icon-remove'></i>&nbsp;Disable-->
                <!--</a>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td>-->
              <!--<div class="progress progress-xs progress-striped active percent-top">-->
                <!--<div class="progress-bar progress-bar-start" style="width: 20%"></div>-->
              <!--</div>-->
              <!--<div class="badge bg-green percent progress-bar-start" >20%</div>-->
              <!--<div class='action clearall'>-->
                <!--<a class='btn btn-success' data-toggle='tooltip' href='#' title='Enable'>-->
                  <!--<i class='icon-check'></i>&nbsp;Enable-->
                <!--</a>-->
                <!--<a class='btn btn-info'data-toggle='tooltip' href='#' title='Restore'>-->
                  <!--<i class='icon-refresh'></i>&nbsp;Rehydrate-->
                <!--</a>-->
                <!--<a class='btn btn-danger' data-toggle='tooltip' href='#' title='Disable'>-->
                  <!--<i class='icon-remove'></i>&nbsp;Disable-->
                <!--</a>-->
              <!--</div>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr class='success1'>-->
            <!--<td>3</td>-->
            <!--<td><i class="fa fa-fw fa-linux"></i>&nbsp;VM-3</td>-->
            <!--<td>-->
              <!--<div class="progress progress-xs progress-striped active percent-top">-->
                <!--<div class="progress-bar progress-bar-middle" style="width: 70%"></div>-->
              <!--</div>-->
              <!--<div class="badge bg-green percent progress-bar-middle" >70%</div>-->
              <!--<div class='action clearall'>-->
                <!--<a class='btn btn-success' data-toggle='tooltip' href='#' title='Enable'>-->
                  <!--<i class='icon-check'></i>&nbsp;Enable-->
                <!--</a>-->
                <!--<a class='btn btn-info'data-toggle='tooltip' href='#' title='Restore'>-->
                  <!--<i class='icon-refresh'></i>&nbsp;Restore-->
                <!--</a>-->
                <!--<a class='btn btn-danger' data-toggle='tooltip' href='#' title='Disable'>-->
                  <!--<i class='icon-remove'></i>&nbsp;Disable-->
                <!--</a>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td>-->
              <!--<div class="progress progress-xs progress-striped active percent-top">-->
                <!--<div class="progress-bar progress-bar-middle" style="width: 70%"></div>-->
              <!--</div>-->
              <!--<div class="badge bg-green percent progress-bar-middle" >70%</div>-->
              <!--<div class='action clearall'>-->
                <!--<div class='btn btn-success' data-toggle='tooltip' (click)="modal.open()" title='Enable'>-->
                  <!--<i class='icon-check'></i>&nbsp;Enable-->
                <!--</div>-->
                <!--<a class='btn btn-info'data-toggle='tooltip' href='#' title='Restore'>-->
                  <!--<i class='icon-refresh'></i>&nbsp;Rehydrate-->
                <!--</a>-->
                <!--<a class='btn btn-danger' data-toggle='tooltip' href='#' title='Disable'>-->
                  <!--<i class='icon-remove'></i>&nbsp;Disable-->
                <!--</a>-->
              <!--</div>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr class='success1'>-->
            <!--<td>4</td>-->
            <!--<td><i class="fa fa-fw fa-windows"></i>&nbsp;VM-4</td>-->
            <!--<td>-->
              <!--<div class="progress progress-xs progress-striped active percent-top">-->
                <!--<div class="progress-bar progress-bar-success" style="width: 90%"></div>-->
              <!--</div>-->
              <!--<div class="badge bg-green percent progress-bar-success" >90%</div>-->
              <!--<div class='action clearall'>-->
                <!--<a class='btn btn-success' data-toggle='tooltip' href='#' title='Enable'>-->
                  <!--<i class='icon-check'></i>&nbsp;Enable-->
                <!--</a>-->
                <!--<a class='btn btn-info'data-toggle='tooltip' href='#' title='Restore'>-->
                  <!--<i class='icon-refresh'></i>&nbsp;Restore-->
                <!--</a>-->
                <!--<a class='btn btn-danger' data-toggle='tooltip' href='#' title='Disable'>-->
                  <!--<i class='icon-remove'></i>&nbsp;Disable-->
                <!--</a>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td>-->
              <!--<div class="progress progress-xs progress-striped active percent-top">-->
                <!--<div class="progress-bar progress-bar-success" style="width: 90%"></div>-->
              <!--</div>-->
              <!--<div class="badge bg-green percent progress-bar-success" >90%</div>-->
              <!--<div class='action clearall'>-->
                <!--<a class='btn btn-success' data-toggle='tooltip' href='#' title='Enable'>-->
                  <!--<i class='icon-check'></i>&nbsp;Enable-->
                <!--</a>-->
                <!--<a class='btn btn-info'data-toggle='tooltip' href='#' title='Restore'>-->
                  <!--<i class='icon-refresh'></i>&nbsp;Rehydrate-->
                <!--</a>-->
                <!--<a class='btn btn-danger' data-toggle='tooltip' href='#' title='Disable'>-->
                  <!--<i class='icon-remove'></i>&nbsp;Disable-->
                <!--</a>-->
              <!--</div>-->
            <!--</td>-->
          <!--</tr>-->
          <modal #modal>
            <modal-header [show-close]="true">
              <h4 class="modal-title">I'm a modal!</h4>
            </modal-header>
            <modal-body>
              Hello World!
              <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
              </div>
            </modal-body>
            <modal-footer [show-default-buttons]="true"></modal-footer>
          </modal>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>