<div class='main page'>
    <header-top></header-top>
    <div id='wrapper'>
        <!-- Sidebar -->
        <section id='sidebar'>
            <menu-left></menu-left>
        </section>

        <!-- Tools -->
        <section id='tools'>
            <ul class='breadcrumb' id='breadcrumb'>
                <li class='title'>Catalog</li>
                <li class='title'>Data Protection </li>
                <li class='title'>Backup</li>
                <li class="pull-right col-xs-7 before-remove" >
                    <div class='col-md-5 pull-right fix-top '>
                        <div class='input-group'>
                            <input class='form-control' placeholder='Quick search...' type='text'  [(ngModel)]="searchQuick">
                  <span class='input-group-btn'>
                    <button class='btn' type='button'>
                      <i class='icon-search'></i>
                    </button>
                  </span>
                        </div>
                    </div>
                </li>
                <li><button class="btn fix-top btn-danger" (click)="refresh()" style="color:white" ><i class="fa fa-refresh"></i>&nbsp;Refresh</button></li>
            </ul>

            <div id='toolbar'>
            </div>
        </section>
        <!-- Content -->
        <div id='content'>
            <div class='panel panel-default grid' *ngFor='#data of VCenter'>
                <div class='panel-heading' style="height: 46px">
                    <div class="col-xs-11">
                        <i class='icon-table icon-large'></i>
                        {{data.nameVCenter}}
                    </div>
                    <div class="col-xs-1">
                    <button class="btn fix-top btn-success" (click)="modalSubmit.open()" style="color:white" [ngClass]="{'disabled':logUser === 'ian' }" >Submit</button>
                    </div>
                </div>
                <div class='panel-body'>
                    <table class='table table-bordered'>
                        <thead>
                        <tr>
                            <th class="remove-border" style="width:2%;"></th>
                            <th class="remove-border" style="width:15%;"></th>
                            <th style="width:15%;"></th>
                            <th *ngIf="collapseValue === true" style="width: 8%;cursor:pointer" class='title-new' (click)="collapseMenu(collapseValue)">Local Backup</th>
                            <th *ngIf="collapseValue === false" style="width: 34%;cursor:pointer" class='title-new' (click)="collapseMenu(collapseValue)">Local Backup</th>
                            <th style="width: 34%" class='title-new'>Cloud  Backup</th>
                        </tr>
                        <tr >
                            <th>#</th>
                            <th class="remove-border">VM Name</th>
                            <th >Group</th>
                            <th *ngIf="collapseValue === true" class="text-center" (click)="collapseMenu(collapseValue)" style="cursor: pointer">(+)</th>
                            <th *ngIf="collapseValue === false">
                                <table width="100%">
                                    <th style="width: 40%">Policy</th>
                                    <th style="width: 45%">Last Backup</th>
                                    <th style="width: 15%">Size</th>
                                </table>
                            </th>
                            <th>
                                <table width="100%">
                                    <th style="width: 35%">Policy</th>
                                    <th style="width: 38%">Last Backup</th>
                                    <th style="width: 15%">Size</th>
                                    <th style="width:12%">&nbsp;</th>
                                </table>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  *ngFor='let backup of data.VM | filter:searchQuick;#i = index '>
                            <td>{{i+1}}</td>
                            <td [ngClass]="{'selectedRed': checkRed(backup.name) }" ><i class="fa fa-fw" [ngClass]="{'fa-linux': backup.sys === 'lin','fa-windows': backup.sys === 'win' }" ></i>&nbsp;{{backup.name}}</td>

                            <td>{{backup.group}}</td>
                            <td *ngIf="collapseValue === true" class="text-center">
                                <i *ngIf="backup.LocalBackup.lastbackup != ''" class="fa" [ngClass]="{'success fa-check': backup.LocalBackup.success === 'true','no-success fa-close':backup.LocalBackup.success === 'false' }" aria-hidden="true"></i>
                            </td>
                            <td *ngIf="collapseValue === false">
                                <table width="100%">
                                    <tr>
                                        <td style="width: 37%">{{backup.LocalBackup.policy}}</td>
                                        <td style="width: 45%" *ngIf="backup.LocalBackup.lastbackup != ''">
                                            {{backup.LocalBackup.lastbackup | date:'mediumDate'}} {{backup.LocalBackup.lastbackup | date: 'shortTime'}}&nbsp;<i class="fa  " [ngClass]="{'success fa-check': backup.LocalBackup.success === 'true','no-success fa-close':backup.LocalBackup.success === 'false' }" aria-hidden="true"></i>
                                        </td>
                                        <td style="width: 45%" *ngIf="backup.LocalBackup.lastbackup === ''">

                                        </td>
                                        <td style="width: 15%">{{backup.LocalBackup.size}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td *ngIf="backup.CloudBackup.policy != ''" style="width: 35%">{{backup.CloudBackup.policy}}</td>
                                        <td style="width: 35%" *ngIf="backup.CloudBackup.lastbackup != ''">
                                            {{backup.CloudBackup.lastbackup | date:'mediumDate'}} {{backup.CloudBackup.lastbackup | date: 'shortTime'}}&nbsp;<i class="fa  " [ngClass]="{'success fa-check': backup.CloudBackup.success === 'true','no-success fa-close':backup.CloudBackup.success === 'false' }" aria-hidden="true"></i>
                                        </td>
                                        <td colspn="2" style="width: 38%" *ngIf="backup.CloudBackup.lastbackup === ''">
                                            <select  (change)="onSelect($event.target.value, backup.name)" name="sel2">
                                                <option [value]="">Select Policy</option>
                                                <option *ngFor="#item  of Policy | started:filterargs" [value]="item.PolicyName">{{item.PolicyName}}</option>
                                            </select>
                                        </td>
                                        <td style="width: 15%">{{backup.CloudBackup.size}}</td>
                                        <td style="width:12%" ><button *ngIf="backup.CloudBackup.lastbackup != ''" class="btn-xs btn-success" style="color:white;font-size:11px;"><i class="fa fa-play"></i>&nbsp;RUN</button></td>
                                    </tr>
                                </table>
                            </td>
                            <modal #modal>
                                <modal-header [show-close]="true">
                                    <h3 class="modal-title"><i class="fa fa-info-circle"></i>&nbsp;Local Backup Required</h3>
                                </modal-header>
                                <modal-body>
                                    <h3>To enable cloud backup, a local backup policy will be added for VM <strong>{{namePolicy}}</strong></h3>
                                </modal-body>
                                <modal-footer [show-default-buttons]="false">
                                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                                    <button class="btn btn-primary" (click)="addVm(namePolicy,valuePolicySelect)" type="button">OK</button>
                                </modal-footer>
                            </modal>
                        </tr>
                        <modal #modalSubmit>
                            <modal-header [show-close]="true">
                                <h2 class="modal-title">Cloud Backup</h2>
                            </modal-header>
                            <modal-body>
                                <div><h4>Number of VMs Added: <strong>3</strong></h4></div>
                                <div><h4>Total monthly Storage : <strong>250GB</strong></h4></div><br>
                                <div><h4> Estimated Monthly Cost: <strong>37$</strong></h4></div>
                            </modal-body>
                            <modal-footer [show-default-buttons]="false">
                                <button class="btn btn-default"  data-dismiss="modal" type="button">Cancel</button>
                                <button class="btn btn-primary"  data-dismiss="modal" type="button">Submit</button>
                            </modal-footer>
                        </modal>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>